body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 1rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 2rem;
  margin: 0 auto;
  max-width: 800px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}
.h2{
  align-items: center;
  justify-content: center;
  display: flex;
}

.project {
  flex: 1 1 calc(50% - 1rem);
  margin: 0.5rem;
  box-sizing: border-box;
}

.project img {
  width: 80%;
  height: 50%;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-top: 0.5rem;
}

form input, form textarea {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
}

form button {
  padding: 0.5rem;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}
footer{
  text-align: center;
  border: 1px solid black;
  background-color: black;
  color: white;
}

#about{
  border: 2px solid rgb(14, 14, 14);
  background-color: rgb(232, 222, 224);
}
#projects{
  border: 2px solid rgb(14, 14, 14);
  background-color: rgb(232, 222, 224);
}
#contact{
  border: 2px solid rgb(14, 14, 14);
  background-color: rgb(232, 222, 224);
}

/* footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
} */